.list {
  margin-top: 30px;
  color: #51829b;
  font-weight: 500;
  font-size: 18px;
}

/* 
.item {
  display: flex;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 35px;
  cursor: pointer;
  color: #f6995c;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  transition: all 250ms ease;
}

.btn:hover {
  color: #51829b;
  background-color: #f6995c;
} */
